/* box sizing io*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* paddings */
ul[class],
ol[class] {
  padding: 0;
}

/* margins */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* ul & il */
ul[class],
ol[class] {
  list-style: none;
}

/* a */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* img */
img {
  max-width: 100%;
  display: block;
}

/* article*/
article > * + * {
  margin-top: 1em;
}

/* forms, inputs, buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* animations */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.regular-text, .navigation--logo-text, .footer--main-container p, td, .error-message, .createlink--form-container p, .main-page-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #130d40;
}

h1, .main-page-title, th {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  color: #130d40;
}

h1, .main-page-title {
  font-size: 2rem;
}

.navigation--link {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #130d40;
  text-decoration: none;
}

.navigation--link:hover {
  cursor: pointer;
  border-bottom: 1px solid #130d40;
}

.navigation--logout, td a, .auth--button-block p a, .createlink--form-container p a, .main-page-text a {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #130d40;
  text-decoration: none;
  border-bottom: 1px solid #130d40;
}

.navigation--logout:hover, td a:hover, .auth--button-block p a:hover, .createlink--form-container p a:hover, .main-page-text a:hover {
  border-bottom: 0;
  color: grey;
}

.footer--main-container a {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

.footer--main-container a:hover {
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.signup-button,
.signin-button, .auth--button-block button, .createlink--input button {
  border-radius: 8px;
  padding: .8rem 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.signup-button:hover,
.signin-button:hover, .auth--button-block button:hover, .createlink--input button:hover {
  cursor: pointer;
}

.auth-container input, .createlink--input input {
  width: 18rem;
  height: 2.5rem;
  border-radius: 7px;
  border: 1px solid #130d40;
  padding: 0 1rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .75rem;
  background-color: #130d40;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip text*/
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.app {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content {
  margin-bottom: 4.5rem;
  padding: 0 1.5rem;
}

.navigation--main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin-bottom: 4rem;
  background-color: #edf1f7;
  height: 6rem;
}

.navigation--main-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0 0;
  justify-self: stre;
}

.navigation--main-container ul li {
  list-style-type: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation--logo-text {
  margin-left: .7rem;
}

.navigation--link {
  margin-right: 2rem;
}

.signup-button {
  background-color: #f4417c;
  color: #fff;
}

.signup-button:hover {
  background-color: #f4414c;
}

.signin-button:hover {
  color: #999999;
}

.navigation--logo {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 667px) {
  .navigation--link,
  .navigation--logout {
    font-size: .8rem;
  }
  .navigation--logo,
  .navigation--logo-text {
    display: none;
  }
}

.footer--main-container {
  margin-top: auto;
  width: 100%;
  background-color: #130d40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 4rem;
}

.footer--main-container p {
  color: #fff;
  font-size: 0.75rem;
  margin-right: 3rem;
}

.footer--main-container a {
  font-size: 0.75rem;
}

.all-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.all-links-title {
  margin: 0 auto .7rem 0;
}

table {
  border-collapse: collapse;
  border: 1px solid #edf1f7;
}

td {
  word-break: break-all;
  border: 0;
  max-width: 400px;
}

tr:nth-child(even) {
  background-color: #edf1f7;
  border: 0;
}

td, th {
  text-align: left;
  padding: .5rem 1.5rem;
}

@media screen and (max-width: 667px) {
  th {
    font-size: 1rem;
  }
  td, th {
    padding: .3rem .8rem;
  }
}

.auth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container h1 {
  margin-bottom: 2rem;
  margin-top: 5%;
}

.auth--main-container {
  width: 100%;
}

.auth--button-block {
  text-align: center;
}

.auth--button-block button {
  background-color: #fff;
  color: #130d40;
  margin-top: 1.5rem;
}

.auth--button-block button:hover {
  background-color: #edf1f7;
}

.auth--button-block p {
  margin-top: .75rem;
}

.error-message {
  margin: 1rem 0 0 0;
  color: #f4417c;
}

.createlink--form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.createlink--form-container h1 {
  margin: 4rem 0 2rem 0;
}

.createlink--form-container p {
  margin-top: 1.25rem;
}

.createlink--input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.createlink--input button {
  background-color: #fff;
  color: #130d40;
  margin-top: 1.5rem;
  width: 47%;
}

.createlink--input button:hover {
  background-color: #edf1f7;
}

.createlink--input input {
  width: 100%;
}

.createlink--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 667px) {
  .createlink--input {
    width: 40%;
  }
}

.main-page-container {
  width: 60%;
  margin: 0 auto;
}

.main-page-title {
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=styles.css.map */

